body {
    font-family: 'Open Sans', 'Droid Sans', Arial, sans-serif;
}
h1 {
    margin: 0px;
    padding: 0px;
}
#canvas {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    border: black solid 1px;
    background-color: rgba(239, 228, 176, 0.25);
}

.naslov {
    text-align: center;
    width: 100%;
}
.toolbar {
    text-align: center;
}

.btn {
    background: transparent;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: black 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: rgba(230, 230, 230, 0.6);
}

.slider {
    width: 300px; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.description {
    text-align: center;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.trougao {
    display: flex;
}